<br /><br /><br />
<div class="col-8 offset-2">
<h1>Edit Rock Log</h1>
<%= simple_form_for @rock do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :picture %>
  <%= f.input :description %>
  <%= f.input :message %>
  <br />
  <%= f.submit 'RE-GRIP' %>
<% end %>
</div>