<br /><br /><br /><br />
<% @rocks.each do |rock| %>

<div class="container col-8 offset-2">
    <%= image_tag rock.picture.url, class: 'd-block img-fluid' %>
  <div class="formy col-10 offset-1 text-right">
    <span><%= rock.user.email %></span>
    <h1><%= link_to rock.name, rock_path(rock) %></h1>
    <i><%= rock.address %></i><br />
    
    <p><%= rock.description %></p><br />
    <p><%= rock.message %></p><br />
  </div>
  <ul class="text-center">
    <% if current_user && current_user == rock.user %>
      <li><%= link_to 'Edit', edit_rock_path(rock) %></li>
      <li><%= link_to 'Destroy', rock_path(rock), method: :delete, data: {confirm: 'Are you sure?'} %></li>
    <% end %>
  </ul>
</div><br />
  <div style="clear:both"></div>
  <div class="comments col-8 offset-2">
    <h3>Comments</h3>
    <% rock.comments.each do |comment| %>
      <div class="comment" >
        <span><%= comment.user.email %></span>
        <%= comment.message %>
      </div>
    <% end %>
    <h4>Add a Comment:</h4>
    <%= simple_form_for Comment.new, url: rock_comments_path(rock) do |f| %>
      <%= f.input :message %>
      <%= f.submit 'GRIP' %>
    <% end %>
  </div>

  <br class="clear-fix" /><hr />
<% end %>

