<br /><br /><br /><br />
  <div class="container col-8 offset-2">
    <%= image_tag @rock.picture.url, class: 'd-block img-fluid' %>
    <div class="formy col-10 offset-1 text-right">
    <span><%= @rock.user.email %></span>
    <h1><%= @rock.name %></h1><br />
    <i><%= @rock.address %></i><br />
    <p><%= @rock.description %></p><br />
    <i><%= @rock.message %></i><br />
  </div>
  <ul class="text-center">
    <% if current_user && current_user == @rock.user %>
      <li><%= link_to 'Edit', edit_rock_path(@rock) %></li>
      <li><%= link_to 'Destroy', rock_path(@rock), method: :delete, data: {confirm: 'Are you sure?'} %></li>
    <% end %>
  </ul>
  <br />
  <br class="clear-fix" />
  <hr />

<% if @rock.latitude.present? && @rock.longitude.present? %>
  <script>

    function initMap() {
      var myLatLng = {lat: <%= @rock.latitude%>, lng: <%= @rock.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8irq3R5Rv4kuf-tRA0RH0STpKMYe-O3M&callback=initMap">
  </script>

  <div id="map"></div>
<% end %>

<br />
<hr />

  <div class="comments">
    <h3>Comments</h3>
    <% @rock.comments.each do |comment| %>
      <div class="comment" >
        <span><%= comment.user.email %></span>
        <%= comment.message %>
      </div>
    <% end %>
    <h4>Add a Comment:</h4>
    <%= simple_form_for Comment.new, url: rock_comments_path(@rock) do |f| %>
      <%= f.input :message %>
      <%= f.submit 'GRIP' %>
    <% end %>
  </div>
  <br /><br />