<!DOCTYPE html>
<html>
  <head>
    <title>Getagrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <nav class="navbar navbar-toggleable-md navbar-trans navbar-light fixed-top bg-transparent">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">Grip</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <% if current_user %>
              Welcome, <%= current_user.email %>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Climb Journal</a>
              </li>
              <li class="nav-item">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users_sign_out">Sign Out</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/users_sign_in">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_up">Sign Up</a>
              </li>
            <% end %>

              <li class="nav-item">
                <a class="nav-link" href="/rocks/new">Log Your Climb</a>
              </li>
            </ul>

          </div>
        </nav>

        
            <% if notice.present? %>
              <p class="notice"><%= notice %></p>
            <% end %>

            <% if alert.present? %>
              <p class="alert"><%= alert %></p>
            <% end %>

    <%= yield %>
  </body>
</html>
